<%= display_error %>

<form action='/signup' method="POST">
  User:<br>
  <input type="text" name="user[name]"><br>
  Password:<br>
  <input type="password" name="user[password]"><br>
  Password(type again)<br>
  <input type="password" name="user[password_confirmation]"><br>
  <input type="submit" value="Signup">
</form>
