ul {
    list-style: none;
    margin-top: initial;
}

li {
    margin-top: -0.5em;
}

h1 {
    font-size: 1.4em;
}

h2 {
    font-size: 1em;
}

h3 {
    font-size: 1em;
}

body {
    text-align: center;
}

