<div class="container">
  <h1>Welcome  <%= @login_user.name %> !! </h1>
  <p>Hello!</p>

      <p>Start Exercise HERE!!</p><br>
      <form action="/exercise/start" method="GET">
        <input type="text" name="actions" value="actions" onClick="this.value=''">
        <input type="submit" value="Start Exercise">
      </form>

      <a href="/logout">LOGOFF HERE!!</a>
      
</div>
