<div class="container">
  <h1>Welcome  <%= @login_user.name %> !! </h1>
  <p>Hello!</p>

      <p>Start your training here.</p><br>
      <form action="/exercise" method="GET">
        <p>Input names of your exercise/pose.</p>
        <p>Ex: Yogaframe, Yogafire, Yogablast </p>
        <input type="text" name="actions" value="actions" onClick="this.value=''"><br>
        <br>
        <input type="submit" value="Start Exercise">
      </form>

      <a href="/logout">LOGOFF HERE!!</a>
      
</div>
