<%= display_error %>

<form action="/login" method="POST">
  User:<br>
  <input type="text" name="user[name]"><br>
  Password: <br>
  <input type="password" name="user[password]"><br>
  <input type="submit" value="Login!">
</form>