<script>
$GAME = true;
$PLAYER1_NAME = "<%= params[:player1] %>";
$PLAYER2_NAME = "<%= params[:player2] %>";
 </script>

<html>
<head>
  <link rel="stylesheet" type="text/css" href="./css/racer.css">
 <link rel="stylesheet" href="./css/normalize.css">
  <script type="text/javascript" src="./js/mousetrap.min.js"></script>
  <script type="text/javascript" src="./js/jquery.min.js"></script>
  <script type="text/javascript" src="./js/racer.js"></script>
  <script type="text/javascript" src="./js/game.js"></script>
</head>
<body>
      <div class="spacer1"></div>
      <div class="winner">
        <strong><p></p></strong>
      </div>
      <div class="next_screen">
      </div>

      <div class="spacer2"></div>
      <div class="player1_track">
        <img id="player1" src="./img/megaman.gif">
        <img id="flag_p1"src="./img/flag.gif">
      </div>
      <div class="player2_track">
        <img id="player2" src="./img/mario.gif">
        <img id="flag_p2" src="./img/flag.gif">
      </div>
</body>
</html>
