<div class="scores">
  <div class="scores_left_spacer"></div>
    <table>
    <% @all_result.each do |el| %>  
    <tr>
      <td><%= el[:id] %></td>
      <td><%= el[:winner_name]  %></td>
      <td><%= el[:raptime] %></td>
    </tr>
    <% end  %>  
  </table>

  <div class="scores_right_spacer"></div>
</div>